.image {
    max-width: 600px;
    max-height: 600px;
}

.canvas {
    position: relative;

    & > .logo {
        position: absolute;
        top: 15px;
        right: 15px;
        max-width: 50px;
        max-height: 50px;
    }

    & > .spicy {
        position: absolute;
        bottom: 15px;
        right: 60px;
        max-width: 40px;
        max-height: 40px;
    }

    & > .adult {
        position: absolute;
        bottom: 15px;
        right: 15px;
        max-width: 40px;
        max-height: 40px;
    }
}