.image {
    max-width: 500px;
    max-height: 500px;
}

.canvas {
    position: relative;
    margin: 0 auto;

    & > .logo {
        position: absolute;
        bottom: 5px;
        left: 50%;
        max-width: 50px;
        max-height: 50px;
    }
}