@import '../globals/layout.scss';

.json-result-container {
    @include three-column-layout;
    margin-top: 1rem;
}

.json-result {
    text-align: left;
    display: flex;
    justify-content: center;
}