@import './styles/globals/layout.scss';
@import './styles/globals/colors.scss';

body {
  background-color: $background-theme;
}

.App {
  text-align: center;

  &.no-image {
    margin: 22rem 0 0 0;
  }
}

.image-container {
  @include three-column-layout;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    width: fit-content;
    color: white;
    background-color: $choose-file-background;
    cursor: pointer;
    padding: 0.6rem;
    font-family: sans-serif;
    margin-right: 0.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;

    &:hover {
      background-color: darken($choose-file-background, 10%);
    }

    & * {
      pointer-events: none; 
    }
  }

  &:focus + label {
    background-color: darken($choose-file-background, 10%);
  }
}

.file-name {
  margin: 0 0 0.6rem 0;
  color: white;
}

.json-parsed {
  width: 50%;
  height: 50vh;
  margin-top: 1rem;
  resize: none;
}